<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="storage" class="storage.StorageImpl">
        <constructor-arg type="java.io.File" value="Questions.csv"/>
    </bean>

    <bean id="dao" class="dao.DaoImpl">
        <constructor-arg ref="storage"/>
    </bean>

    <bean id="service" class="service.ServiceImpl">
        <constructor-arg ref="dao"/>
    </bean>

</beans>
